:root {
  /* colors */
  --color-yellow: #ffe01b;

  /* typography */
  --font-main: "Overpass", sans-serif;
  --font-heading: "Fraunces", serif;
}

body {
  font-size: 16px;
  font-family: var(--font-main);
  background: #fbfbfb;
}
