/* GLOBAL */
.jump-to-content {
  position: absolute;
  top: -10%;
  color: black;
}

.jump-to-content:active,
.jump-to-content:focus {
  top: 0;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bely", "serif";
}

/* HEADER */
.logo {
  font-family: "bely-display", "serif";
}
